@import url('./core.min.css');
@import url('./thesaas.css');
@import url("./ocean.css");

$dark-orange: #c76511;
$main-orange: #e57310;

@import "style";
@import "spinner";

small {
    color: #535353 !important;
}

.text-secondary {
    color: #6d6d6d !important;
}

.text-muted {
    color: #6c7077 !important;
}

.topbar {
    position: fixed;
}

.topbar-nav .nav-link {
    opacity: .9;
}

.topbar-nav .nav-link.active,
.topbar-nav .nav-link:focus,
.topbar-nav .nav-link:hover {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.30);
}

.amber-stats {
    max-width: 600px !important;
}

#sidebar {
    padding-bottom: 70vh !important;
}

.img-amber-logo {
    max-width: 35% !important;
}

.flexbox {
    justify-content: initial;
}

.flexbox > .icon {
    width: 4%;
}

.btn.affix {
    background: none;
    border: none;
    transition: none;
}

.logo-default {
    display: inline-block !important;
}

@media screen and (max-height: 600px) {
    .img-amber-logo {
        display: none !important;
    }
}

.orange-header {
    background-image: linear-gradient($main-orange 200px, $dark-orange);
}

.backtrace {
    text-align: left;
    padding: 5px
}

.amber-color {
    background-color: $main-orange !important;
}

.guides-spacing {
    padding-top:60px;
    padding-bottom: 0;
}

.post-list {
    padding: 0;
}

.post-list > li {
    list-style: none;
}

.post-list > li > h2 {
    padding-bottom: 20px;
}

.amber-yt-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.amber-yt-video iframe,
.amber-yt-video object,
.amber-yt-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
